<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="cart"></ion-icon> Ma liste de course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-input
      [(ngModel)]="articleName" 
      label="Nom du produit" 
      labelPlacement="floating"
      (keydown.enter)="add()"
    ></ion-input>
    <ion-button slot="end" size="small" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [disabled]="items().length === 0" slot="end" size="small" color="danger" (click)="clearAll()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list>
    <ion-list-header>Mes articles</ion-list-header>
    @for(item of items(); track item.id) {
      <ion-item (click)="showActions(item)">
        {{ item.name }} 
        <ion-icon *ngIf="item.checked" 
                  name="checkmark-circle"
                  color="success"
                  slot="end"></ion-icon>
      </ion-item>
    } @empty { 
      <p>La liste est vide</p>
    }
  </ion-list>
</ion-content>
