<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <ion-item>
      <ion-label for="email">Email:</ion-label>
      <ion-input id="email" formControlName="email"></ion-input>
      @if( loginForm.get("email")?.touched && loginForm.get("email")?.invalid ){
      <p>Email invalide :(</p>
      }
    </ion-item>
    <ion-item>
      <ion-label for="password">Password:</ion-label>
      <ion-input id="password" formControlName="password"></ion-input>
      @if( loginForm.get("password")?.touched &&
      loginForm.get("password")?.invalid ){
      <p>password invalide :(</p>
      }
    </ion-item>

    <ion-button type="submit" [disabled]="loginForm.invalid">
      Login !
    </ion-button>
  </form>
</ion-content>
