<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="product">
        <ion-icon name="cart"></ion-icon>
        Mon Panier
        <ion-badge color="danger">{{ nbArticles() }}</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="scanner">
        <ion-icon name="barcode"></ion-icon>
        Scanner
      </ion-tab-button>
      <ion-tab-button tab="camera">
        <ion-icon name="camera"></ion-icon>
        Prendre une photo
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
